.hero {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	min-height: 600px;
	padding: 183px 90px;
	background-color: #D8ECFE;
	box-sizing: border-box;
}

.hero__text {
	margin: 0;
	padding: 0;
	max-width: 538px;
  margin-top: 24px;
}

.hero__wrapper {
	max-width: 637px;
}

.hero::before {
	position: absolute;
  bottom: 0;
  right: 177px;
	display: block;
	width: 274px;
	height: 543px;
	content: "";
	background-image: url('/src/assets/avatar.svg');
	background-repeat: no-repeat;
	z-index: 1;
}

.hero::after {
	position: absolute;
	top: 77px;
	right: 90px;
	width: 446px;
	height: 446px;
	border-radius: 50%;
	content: "";
	background-color:#C4E2FF;
	z-index: 0;
}
